
<div class="header">
    <div class="w3-container"  style="float: right;">
        <div class="w3-dropdown-hover">My Cart ({{this.totalQuantity}})
            <div class="w3-dropdown-content w3-card-4" style="width:250px">
                <div *ngFor="let product of objectForDropdownCart">
                    <div *ngIf="product.Quantity != 0">
                        <img src="{{imgUrl}}" alt="IMAGE" style="width:100%">
                        <div class="w3-container">
                            <p>{{productName}}</p>
                            <p>{{product.Quantity}}x {{productSymbol}}{{productPrice}}</p>
                            <p>Size: {{product.ProductSize}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>

<app-product-detail></app-product-detail>